# Local .terraform directories
**/.terraform/*
*.terraform*

# Ignore CLI configuration files
.terraformrc
terraform.rc
!.terraformrc

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore transient lock info files created by terraform apply
.terraform.tfstate.lock.info

# Crash log files
crash.log
crash.*.log

# backups
*.backup

# own secret vars store.
personal.auto.tfvars
*secret.*
key.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# others
user-data
*.env

.ssh/*
*/.ssh
*.pub
**/*.pub
keys

#authorized keys
*authorized_key.json
*sa_key.json
